@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  transition: 0.4s;
}

body {
  font-family: "Montserrat", sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: 550px;
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 20px 0;
}
#header .navbar {
  display: flex;
  justify-content: start;
  align-items: center;
}
#header .navbar--nav {
  padding-left: 25px;
}
#header .navbar--nav a {
  font-weight: 400;
  font-size: 18px;
  color: white;
  padding: 0 27px;
}

#hero {
  background: url("/img/diver2.png") no-repeat center/cover;
  min-height: 100vh;
}
#hero .hero {
  padding-top: 150px;
}
#hero .hero h1 {
  padding-top: 193px;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
#hero .hero h1 span {
  color: #FF9900;
}
#hero .hero p {
  padding: 39px 0 89px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
#hero .hero p span {
  color: orange;
}
#hero .hero--btn {
  display: flex;
}
#hero .hero--btn__one {
  padding: 13px 27px;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  background: #FF9900;
  border-radius: 60px 0 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero .hero--btn__one ion-icon {
  padding-left: 15px;
  font-size: 25px;
}
#hero .hero--btn__two {
  padding: 13px 27px;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  background: none;
  border-radius: 0 60px 60px 0;
  border: 2px solid #FF9900;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero .hero--btn__two ion-icon {
  padding-left: 15px;
  font-size: 25px;
}

#our {
  padding: 40px 0;
  background: url("/img/nice.png") no-repeat center/cover;
}
#our .our--title h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
#our .our--block {
  background: radial-gradient(100% 100% at 0% 0%, rgba(99, 99, 99, 0.58) 0%, rgba(99, 99, 99, 0.58) 100%);
  backdrop-filter: blur(5px);
  border-radius: 20px;
}
#our .our--block h3 {
  font-weight: 400;
  font-size: 22px;
  line-height: 15px;
  padding: 10px 0;
  color: #FFFFFF;
}
#our .our--block h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 80px;
}
#our .our--block p {
  width: 185px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  padding: 20px 40px;
}
#our .our--block__input {
  display: flex;
  align-items: center;
  justify-content: center;
}
#our .our--block__input h2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
}
#our .our--block__text {
  display: flex;
  align-items: center;
  justify-content: center;
}
#our .our--block__text h2 {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
}
#our .our--block__text button {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  background: #FF9900;
  padding: 7px 15px;
  border-radius: 15px;
  margin-left: 10px;
  margin-bottom: 5px;
}
#our .our--img {
  width: 193px;
  height: 193px;
  bottom: 350px;
  z-index: 1;
  position: absolute;
}

#cook {
  padding: 40px 0;
  background: black;
}
#cook .cook {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#cook .cook--logo {
  position: relative;
}
#cook .cook--logo__time {
  width: 118px;
  height: 118px;
  background: #282626;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -65px;
  left: 177px;
  z-index: 2;
}
#cook .cook--logo__two {
  width: 118px;
  height: 118px;
  background: #282626;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 53px;
  left: -60px;
  z-index: 2;
}
#cook .cook--logo__three {
  width: 118px;
  height: 118px;
  background: #282626;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 320px;
  left: -10px;
  z-index: 2;
}
#cook .cook--logo__four {
  width: 118px;
  height: 118px;
  background: #282626;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 370px;
  z-index: 2;
}
#cook .cook--logo__five {
  width: 142px;
  height: 142px;
  background: #FF9900;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 320px;
  left: 299px;
}
#cook .cook--logo__five div {
  width: 114px;
  height: 114px;
  background: #282626;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 2;
}
#cook .cook--logo__img {
  position: relative;
  z-index: 1;
}
#cook .cook--title h1 {
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}
#cook .cook--title h2 {
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}
#cook .cook--title__block {
  margin: 20px 0;
  display: flex;
  width: 280px;
  height: 35px;
  border-bottom: 2px solid #FF9900;
}
#cook .cook--title__block--one {
  margin-left: 20px;
}
#cook .cook--title__block--one div {
  width: 13px;
  height: 0;
  border: 1px solid #FF9900;
  transform: rotate(90deg);
}
#cook .cook--title p {
  width: 360px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

#aura {
  padding: 40px 0;
  background: url("/img/resto.png") no-repeat center/cover;
  min-height: 100vh;
}
#aura .aura h1 {
  padding-top: 80px;
  font-weight: 600;
  font-size: 24px;
  color: #FF9900;
  padding-bottom: 30px;
}
#aura .aura--logo input {
  color: #FF9900;
  background: none;
  border: none;
  width: 343px;
  height: 38px;
}
#aura .aura--logo h2 {
  font-weight: 400;
  font-size: 12px;
  color: #FF9900;
}
#aura .aura--logo div {
  width: 343px;
  height: 38px;
  border: 1px solid #FF9900;
}
#aura .aura--title input {
  color: #FF9900;
  background: none;
  border: none;
  width: 343px;
  height: 32px;
}
#aura .aura--title h2 {
  padding-top: 24px;
  font-weight: 400;
  font-size: 12px;
  color: #FF9900;
}
#aura .aura--title div {
  width: 343px;
  height: 32px;
  border: 1px solid #FF9900;
}
#aura .aura--part {
  display: flex;
}
#aura .aura--part__group h2 {
  padding-top: 24px;
  padding-left: 10px;
  font-weight: 400;
  font-size: 12px;
  color: #FF9900;
}
#aura .aura--part__group--square {
  width: 147px;
  height: 47px;
  border: 1px solid #FF9900;
}
#aura .aura--part__group input {
  width: 147px;
  height: 47px;
  border: none;
  background: none;
  color: #FF9900;
}
#aura .aura--part__group h3 {
  padding-top: 24px;
  font-weight: 400;
  font-size: 12px;
  color: #FF9900;
  padding-left: 45px;
}
#aura .aura--part__group--square__two {
  width: 147px;
  height: 47px;
  margin-left: 45px;
  border: 1px solid #FF9900;
}
#aura .aura--part__group--square__two input {
  width: 147px;
  height: 47px;
  border: none;
  background: none;
  color: #FF9900;
}
#aura .aura--square h2 {
  font-weight: 400;
  font-size: 12px;
  padding-top: 24px;
  color: #FF9900;
}
#aura .aura--square div {
  width: 343px;
  height: 88px;
  border: 1px solid #FF9900;
}
#aura .aura--square input {
  width: 343px;
  height: 88px;
  background: none;
  border: none;
  color: #FF9900;
}
#aura .aura button {
  margin-top: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  width: 250px;
  height: 51px;
  background: #FF9900;
  border-radius: 20px;
}
#aura .aura button:hover {
  transform: scale(1.1);
  background: none;
  color: #FF9900;
}

#review {
  padding: 40px 0;
  background: url("/img/limon.png") no-repeat center/cover;
  min-height: 100vh;
}
#review .review {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#review .review--logo h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
#review .review--logo h1 span {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
#review .review--logo p {
  padding: 20px 0;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  width: 375px;
}
#review .review--logo button {
  margin: 40px 0;
  font-weight: 600;
  font-size: 36px;
  color: #FFFFFF;
  border: 1px solid #FF9900;
  border-radius: 60px;
  padding: 13px 30px;
  background: none;
}
#review .review--logo button:hover {
  transform: scale(1.1);
  background: #FF9900;
  color: #282626;
}
#review .review--square {
  margin-top: 40px;
  width: 500px;
  height: 571px;
  background: radial-gradient(100% 100% at 0% 33.19%, rgba(126, 126, 126, 0.46) 0%, rgba(114, 112, 112, 0.46) 100%);
  backdrop-filter: blur(5px);
  border-radius: 60px;
}
#review .review--square__two {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#review .review--square__two h1 {
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
#review .review--square__two p {
  padding: 20px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  width: 282px;
}
#review .review--square__two--icon {
  font-size: 40px;
}
#review .review--square__two ion-icon {
  color: #FF9900;
}
#review .review--square__three {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#review .review--square__three h1 {
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
#review .review--square__three p {
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  width: 282px;
  padding: 20px 0;
}
#review .review--square__three--icon {
  font-size: 40px;
}
#review .review--square__three ion-icon {
  color: #FF9900;
}
#review .review--square__three--art {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73px;
  height: 73px;
  background: #FF9900;
  border-radius: 50%;
}

#dream-two {
  padding: 40px 0;
  background: black;
}
#dream-two .dream-two ion-icon {
  margin-left: 100px;
  color: #FF9900;
  font-size: 40px;
}
#dream-two .dream-two--tabs #dream:checked ~ .table,
#dream-two .dream-two--tabs #dream:checked ~ .food,
#dream-two .dream-two--tabs #dream:checked ~ .soul {
  opacity: 0.3;
}
#dream-two .dream-two--tabs #table:checked ~ .dream,
#dream-two .dream-two--tabs #table:checked ~ .food,
#dream-two .dream-two--tabs #table:checked ~ .soul {
  opacity: 0.3;
}
#dream-two .dream-two--tabs #food:checked ~ .dream,
#dream-two .dream-two--tabs #food:checked ~ .table,
#dream-two .dream-two--tabs #food:checked ~ .soul {
  opacity: 0.3;
}
#dream-two .dream-two--tabs #soul:checked ~ .dream,
#dream-two .dream-two--tabs #soul:checked ~ .table,
#dream-two .dream-two--tabs #soul:checked ~ .food {
  opacity: 0.3;
}
#dream-two .dream-two--tabs input {
  padding-top: 30px;
  text-align: center;
  margin-top: 50px;
  background: white;
  border-radius: 20px;
}
#dream-two .dream-two--tabs img {
  margin-left: 10px;
  width: 250px;
  height: 250px;
}

#footer {
  padding: 40px 0;
  background: black;
}
#footer .footer {
  width: 1100px;
  height: 293px;
  border: 1px solid #FF9900;
  border-radius: 40px;
  display: flex;
  align-items: center;
}
#footer .footer ion-icon {
  color: white;
}
#footer .footer--logo__h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .footer--logo__h1 h1 {
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  padding: 20px 10px;
}
#footer .footer--logo__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .footer--logo__group h3 {
  padding: 30px 0;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
#footer .footer img {
  margin-left: 160px;
}
#footer .footer--title__two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .footer--title__two h1 {
  padding: 20px 10px;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
#footer .footer--title__part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .footer--title__part h1 {
  padding: 20px 10px;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
